/minggu 12/fxsdd/guijava/nbproject/private/
/minggu 12/fxsdd/guijava/build/
/minggu 12/fxsdd/guijava/dist/
/minggu 12/latian/guiijava/nbproject/private/
/minggu 12/latian/guiijava/build/
/minggu 12/latian/guiiijava/nbproject/private/
/minggu 12/latian/guiiijava/build/
/Minggu 11/db jual/dbjualbeli/nbproject/private/
/Minggu 11/fix/GUIfix/GUIfix/nbproject/private/
/Minggu 11/fix/GUIfix/GUIfix/build/
/Minggu 11/db jual/dbjualbeli/build/
/materi/GUIfix/GUIfix/build/
